<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518607947838-6gaecroabsnrir9i5qap3akg0olhdp05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518607947838-6gaecroabsnrir9i5qap3akg0olhdp05</string>
	<key>API_KEY</key>
	<string>AIzaSyAqmAxciZjU8CUjpQgYAIFoxUVE-DpVw_0</string>
	<key>GCM_SENDER_ID</key>
	<string>518607947838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.saron.com</string>
	<key>PROJECT_ID</key>
	<string>saron-app-1ea19</string>
	<key>STORAGE_BUCKET</key>
	<string>saron-app-1ea19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518607947838:ios:037e88b6445d0e13fe696f</string>
	<key>DATABASE_URL</key>
	<string>https://saron-app-1ea19-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>